*{
    color: black;
}

#main_title h1{
    position: relative;
    top: 85px; left: -35px;
    color: white;
}

#add{
    border-radius: 15px;
    background-color: #FFFFCE;
    position: relative;
    padding: 10px 100px 20px 100px;
}

h2{
    color: black;
}

form{
    font-size: 20px;
    color: black;
    font-family: "微軟正黑體";
}

input{
    font-size: 25px;
    color: black;
}

#add_date{
    position: relative;left: 10px;
    width: 400px;height: 50px;
    letter-spacing: 5px;
    text-align: center;
}

#add_type{
    color: black;
    font-size: 25px;letter-spacing: 5px;
    text-align: center;
    height: 50px;
    position: relative;top: -20px;
    padding: 0 15px 0 15px;
}

#add_money{
    position: relative;top: -20px;left: 10px;
    height: 45px;width: 220px;
    text-align: center;
    font-size: 25px;letter-spacing: 5px;
}

#add_remark{
    position: relative;top: -20px;left: 20px;
    height: 45px;width: 300px;
    text-align: center;
    font-size: 25px;letter-spacing: 5px;
}

#add_btn{
    position: relative;top: -20px;left: 40px;
    height: 50px;width: 90px;
    font-size: 25px;letter-spacing: 5px;
    background-color: #0b995e;
    border-radius: 5px;
    color: white;
}



#date_Range{
    border-radius: 15px;
    background-color: #FFFFCE;
    position: absolute; top: 250px; left: 730px;
    width: 560px; height: 100px;
    display: flex;
}

[class^=Range]{
    font-size: 20px;
    height: 30px;
    margin: 25px;
}

#date_Range p{
    font-size: 50px;
    display: inline;
    position: relative;
    top: 5px;
}

#Range_btn{
    border-radius: 25px;
    font-size: 20px;
    height: 50px;
    margin-top: 25px;
    background-color: #0b995e;
    color: white;
}

#data_record{
    border-radius: 15px;
    background-color: #FFFFCE;
    position: absolute; top: 250px; left: 10px;
    width: 680px; height: auto;
    padding: 30px 10px 30px 10px;
    font-family: "微軟正黑體";
}

#record_title{
    display: flex;
    font-size: 30px;
    letter-spacing: 2px;
    width: 500px; height: 60px;
    margin: auto;
    position: relative;
    padding: 0 30px 0 30px;
    border-bottom: black 2px solid;
}

#record_title p{
    margin: auto;
    text-align: center;
}

.record_content{
    margin: 10px 60px;
    font-size: 20px;
    width: 560px;
    line-height: 30px;
}

.record_content caption{
    float: left;
}

#record_sum{
    margin: 30px 60px 0px 60px;
    font-size: 25px;
    padding-top: 10px;
    border-top: black 2px solid;
}