#main_title h1{
    position: relative;
    top: 85px; left: -35px;
    color: white;
}
.allhome{
  position: absolute;
  top: 20%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.earth img{
    
    width: 500px;
    animation: move 45s infinite;
}

@keyframes move{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
    
  }

  .idea{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ideacontent{
    display: flex;
    align-items: center;
    border: 5px solid;
    line-height: 32px;
    font-size: 18px;
    border-radius: 30px;
    width: 450px;
    height: 200px;
    padding: 20px 30px;
    margin: 10px;
  }
  .outer  :hover{
    background-color: rgb(12, 80, 36);
    transform: scale(1.1,1.1);
    transition: all 1s ease-out;
  }

  .signin{
    z-index: 2;
    position: absolute;
    position: fixed;
    width: 150px;
    right: 50px;
    height: 200px;
    top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: rgb(12, 80, 36);
    border-radius: 30px;
    border: none;
    
  }
  .signmid{
    margin-top: 10px;
  }
  .signcontent input{
    margin: 8px 0;
    padding: 10px;
    border-radius: 30px;
    border: none;
  }
  .signbtn{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
  }
  .signbtn input{
    color: rgb(12, 80, 36) ;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
