body {
    background-color: #0b995e;
    font-family: NSimSun;
    padding: 30px 30px 30px 30px;
}

#navBar {
    width: 100%;
    height: auto;
    position: fixed;
    margin: auto;
    left: 0;right: 0;top: 0;
}


main{
    height: 1000px;
}

#main_title{
    width: 100px; height: 550px;
    position: fixed;
    top: 100px; 
    writing-mode: vertical-lr;
    font-size: 40px;
    letter-spacing: 15px;
}

#main_body{
    position: relative;
    width: 1280px; height: auto;
    top: 80px; left: 130px;
    padding: 10px;
    border-radius: 15px;
}