*{
    box-sizing: border-box;
}
body{
    background-color: rgba(61, 114, 61, 0.955);
    font-family:NSimSun;
    font-size: 20px;
}
#title{
    position: absolute;
    color: white;
    text-align: center;
    writing-mode: vertical-lr;
    top: 10%;
    font-size: 40px;

}
.bigpic{
    position: relative;
}
.subtitle{
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    top: -65px;
    left: -35px;
    margin: 0px;
   
}
.sub img{
    position: absolute;
    width: 200px;
    top: -80px;
    left: -90px;
}
.picbody{
    position: absolute;
    top: 50px;
    right: 35%;
    left: 35%;
    background-color: rgb(189, 240, 189);
    border-radius: 40px;
    border:  solid 8px rgb(90, 150, 90);
    width: 450px;
    height: 550px;
}

.pic1{
    position: absolute;
    border: solid 7px green;
    background-color: rgb(161, 241, 161);
    border-radius: 20%;
    width:160px ;
    height: 160px;
    top: 20%;
    left: 5%;
}
.pic1 img{
    position: absolute;
    width: 100px;
    left: 20%;
    top: 13%;
}

.no1 p{
    position: absolute;
    font-size: 25px;
    top: 46%;
    left: 11%;
    font-weight: bold;
}
.pic2{
    position: absolute;
    border: solid 7px green;
    background-color: rgb(161, 241, 161);
    border-radius:20%;
    width:160px ;
    height: 160px;
    top: 20%;
    right: 5%;
}

.pic3{
    position: absolute;
    border: solid 7px green;
    background-color: rgb(161, 241, 161);
    border-radius: 20%;
    width:160px ;
    height: 160px;
    top: 60%;
    left: 5%;
}


.pic4{
    position: absolute;
    border: solid 7px green;
    background-color: rgb(161, 241, 161);
    border-radius: 20%;
    width:160px ;
    height: 160px;
    top: 60%;
    right: 5%;
}






