*{
    font-family: NSimSun;
}
body{
    background-color: azure;
}
.midcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ourthought{
    background-color:rgb(12, 80, 36);
    width: 400px;
    height: 200px;
    margin: 25px;
    border-radius: 20px;
   
    color: white;
}
.ourstitle{
    text-align: center; font-size: 20px
}

.midcard :hover{
    opacity: 0.8;
    font-size: larger;
    transition: 1s;
    
  
}
