*{
  box-sizing: border-box;
  color: white;
}
div{
  display: block;
}
#main_title h1{
    position: relative;
    top: 85px; left: -35px;
    color: white;
}
.big{
  position: relative !important;
  top: 150px;
  left: 350px;
  background-color:rgb(12, 80, 36);
  border-radius: 20px;
  width: 800px;
  padding: 20px;
}
.mid{
  flex: 1 1 auto;
}
.info{
  justify-content: space-around;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.h2card{
  text-align: center;
  
}
.data{
  flex: 0 0 auto;
  width: 50%;
  margin: 10px 0;
}
.pointdiv{
  width: 50%;
  background-color: rgba(157, 240, 207, 0.797);
  border-radius: 10px;
  height: 80px;
  margin-top: 20px  ;
  border: none  ;
}
.pointmid{
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-content: center;
  align-items: stretch;
}
.pointdiv p{
  color: black;
  font-weight: bold;
}
#poitnbtn{
  background-color: rgba(255, 0, 0, 0.663);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

